<footer class="footer-widgets">
  <div class="container">
    <div style="height: 100px;" class="row section section-footer">
      <!-- About Us -->
      <div class="col-md-3 col-sm-6 mb-sm-100">
        <div class="widget about-widget">
          <!-- <h5 class="header-widget">About Us</h5>
          <p>
            Lorem ipsum dolor sit amet, eiusmod consectetur adipisicing elit,
            sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis.
          </p> -->

          <ul class="social-links">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
          </ul>
        </div>
        <!-- / .widget -->
      </div>
      <!-- / .col-md-3 -->

     
      <!-- / .col-md-3 -->

      <!-- Twitter Feed -->
      
      <!-- / .col-md-3 -->

      <!-- Newsletter -->
      
      <!-- / .col-md-3 -->
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->

  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          
          <small
            >&copy; 2020 <span> <a target="_blank" href="http://livetradingroom.in">livetradingroom</a> </span> 
            
            </small
          >
        </div>

        <div class="col-sm-6">
          <small
            ><a href="#page-top" class="pull-right to-the-top"
              >To the top<i class="fa fa-angle-up"></i></a
          ></small>
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </div>
  <!-- / .copyright -->
</footer>