<nav
  class="navbar navbar-default navbar-fixed-top navbar-trans navbar-trans-dark trans-helper navbar-fw"
  role="navigation"
>
  <div class="navbar-header page-scroll">
    <button
      type="button"
      class="navbar-toggle collapsed"
      data-toggle="collapse"
      data-target="#navbar"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- Logo -->
    <a  style="padding: 0;" class="navbar-brand" href="index.html"
      ><img
        style="padding: 0;"
        class="navbar-logo-dark"
        src="assets/images/logo.png"
        alt="Resized-Logo"
    /></a>
  </div>

  <!-- Navbar Links -->
  <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
    <ul class="nav navbar-nav">
      <li>
        <a href="#home">Home<span class="sr-only"></span></a>
      </li>
      <!-- <li>
        <a href="#welcome"
          >The Live Trading Room<span class="sr-only"></span
        ></a>
      </li> -->

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">about us <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#welcome">what do we do</a></li>
          <li><a href="#vision">vision</a></li>
          <li><a href="#who-we-are">who we are</a></li>
          
        </ul>
      </li><!-- / Blog -->







      <li>
        <a href="#portfolio">Knowledge Series<span class="sr-only"></span></a>
      </li>
      <li>
        <a href="#contact">Contact Us<span class="sr-only"></span></a>
      </li>
      <li>
        <a routerLink="/profile" href="#profile">profile<span class="sr-only"></span></a>
      </li>
      <li class="login-btn" *ngIf="isLoggedIn">
        <a (click)="logout()">
          <span
            ><i
              style="color: black; font-size: large"
              class="fa fa-sign-out"
              aria-hidden="true"
            ></i
          ></span>
          Logout
          <span class="sr-only"> </span
        ></a>
      </li>
      <li class="login-btn" *ngIf="!isLoggedIn">
        <a (click)="navigate()">
          <span
            ><i
              style="color: black; font-size: large"
              class="fa fa-user-circle-o"
              aria-hidden="true"
            ></i
          ></span>
          Login
          <span class="sr-only"> </span
        ></a>
      </li>
    </ul>
    <!-- / .nav .navbar-nav -->
  </div>
  <!--/.navbar-collapse -->
</nav>
<!-- / .navbar -->
