<header class="page-title pt-large pt-dark pt-plax-lg-dark"
data-stellar-background-ratio="0.4">
  <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h1>Cart</h1>
          <span class="subheading">Your shopping cart</span>
        </div>
     

      </div>
    </div>
</header>



<!-- ========== Cart Items - (checkout table) ========== -->

<div class="container section">
  <div class="row">

    <!-- Checkout Table -->
    <div class="col-lg-9">
      <div class="table-responsive">
        <table class="table checkout-table">
          <thead style="background-color: #015e9b;" >
            <tr>
              <th></th>
              <th>Preview</th>
              <th>Product</th>
              <th>Details</th>
              <th>Days</th>
              <th>ticket</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><img src="../../assets/images/shop/p-thumb-1.jpg" alt="Thumb product image"></td>
              <td>Dark index</td>
              <td class="td-product-options"><span class="strong">short detail </span>------ <span class="strong">------ </span>--------</td>
              <td class="td-product-qty"><input class="form-control" type="number" value="1"></td>
              <td><button style=" border: #27afe3; background-image: linear-gradient(to right, #015e9b, #27afe3);" class="btn-ghost mb-sm-30 btn">ticket</button></td>
              <!-- <td><a href="#"><span class="linea-arrows-square-remove"></span></a></td> -->
            </tr>

            <tr>
              <td>2</td>
              <td><img src="../../assets/images/shop/p-thumb-2.jpg" alt="Thumb product image"></td>
              <td>Knowledge Series</td>
              <td class="td-product-options"><span class="strong">stort detail</span>--- <span class="strong">------ </span>-----</td>
              <td class="td-product-qty"><input class="form-control" type="number" value="1"></td>
              <td>
                <button 
                style=" border: #27afe3; background-image: linear-gradient(to right, #015e9b, #27afe3);" 
                class="btn-ghost mb-sm-30 btn">buy
              </button>
            </td>
              <!-- <td class="td-remove"><a href="#"><span class="linea-arrows-square-remove"></span></a></td> -->
            </tr>

          

            
          </tbody>
        </table><!-- / .checkout-table -->
      </div><!-- / .table-responsive -->


      
      <hr>


      <!-- Calculate Shipping -->
      

    </div><!-- / .col-lg-9 -->
    

    <!-- Totals Table -->
    <!-- <div class="col-lg-3 totals-group">
      <div class="totals-heading">
        <h6>Card Totals</h6>
      </div>
      <div class="totals-content">
        <div class="subtotal-group">
          <h6>Subtotal:</h6>
          <p>$859.99</p>
        </div>
        <div class="shipping-group">
          <h6>Shipping:</h6>
          <a href="#calc-shipping">Calculate Shipping</a>
        </div>
        <div class="total-group">
          <h5>Total:</h5>
          <p>$899.99</p>
        </div>
        <div class="checkout-btn-wrapper">
          <a href="../../pages/shop/shop-checkout.html" class="btn checkout-btn">Go to checkout</a>
        </div>
      </div>
      
    </div> -->
    <!-- / .col-md-3 -->

  </div><!-- / .row -->
</div><!-- / .container -->